@import '../styles/styles.scss';

.container {
  margin-top: $spacing-8;

  h2 {
    font-size: $font-size-2;
  }
}

.success-text {
  width: 100%;
  background-color: $color-theme-4;
  color: $color-theme-3;
  border-radius: $spacing-2;
  margin-top: $spacing-8;
  margin-bottom: $spacing-12;
  padding: $spacing-2;
  p {
    margin-bottom: $spacing-0;
    text-align: center;
  }
}

.form-button {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;

  input {
    margin-top: $spacing-4;
    margin-left: auto;
    font-size: $font-size-2;
    background-color: $color-theme-4;
    color: $color-theme-3;
    padding: $spacing-2;
    border-style: none;
    border-radius: $spacing-2;
  }

  input[aria-disabled='true'] {
    background-color: (lighten($color-theme-4, 40%));
  }

  input:hover {
    cursor: pointer;
  }
}

.error-text {
  color: $color-danger;
}
