@import '../styles/styles.scss';

.container {
  display: flex;
  flex-direction: column;
  padding-bottom: $spacing-6;

  .field {
    margin-bottom: $spacing-1;
  }

  input,
  textarea {
    border: $spacing-px solid $color-theme-4;
    border-radius: $spacing-1;
    padding: $spacing-1;
    font-size: $font-size-2;
  }

  .error-text {
    color: $color-danger;
    padding-top: $spacing-1;
  }
}
